## Name - Vaibhav R. Gudulkar

# Assignment - Random Forest (Fraud_check.csv)

In [2]:
# importing required libraries

import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [5]:
fraud_df= pd.read_csv('Fraud_check.csv')
fraud_df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
fraud_df['Undergrad']=label_encoder.fit_transform(fraud_df['Undergrad'])
fraud_df['Marital.Status']= label_encoder.fit_transform(fraud_df['Marital.Status'])
fraud_df['Urban'] = label_encoder.fit_transform(fraud_df['Urban'])

In [7]:
fraud_df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0
...,...,...,...,...,...,...
595,1,0,76340,39492,7,1
596,1,0,69967,55369,2,1
597,0,0,47334,154058,0,1
598,1,1,98592,180083,17,0
599,0,0,96519,158137,16,0

In [8]:
tax_val=[]
for value in fraud_df['Taxable.Income']:
    if value > 30000:
        tax_val.append('Good')
    else :
        tax_val.append('Risky')
fraud_df['tax_val']= tax_val

In [9]:
fraud_df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,tax_val
0,0,2,68833,50047,10,1,Good
1,1,0,33700,134075,18,1,Good
2,0,1,36925,160205,30,1,Good
3,1,2,50190,193264,15,1,Good
4,0,1,81002,27533,28,0,Good
...,...,...,...,...,...,...,...
595,1,0,76340,39492,7,1,Good
596,1,0,69967,55369,2,1,Good
597,0,0,47334,154058,0,1,Good
598,1,1,98592,180083,17,0,Good
599,0,0,96519,158137,16,0,Good

In [10]:
fraud_data= fraud_df.drop(['Taxable.Income'], axis=1)
fraud_data

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,tax_val
0,0,2,50047,10,1,Good
1,1,0,134075,18,1,Good
2,0,1,160205,30,1,Good
3,1,2,193264,15,1,Good
4,0,1,27533,28,0,Good
...,...,...,...,...,...,...
595,1,0,39492,7,1,Good
596,1,0,55369,2,1,Good
597,0,0,154058,0,1,Good
598,1,1,180083,17,0,Good
599,0,0,158137,16,0,Good

In [11]:
array =  fraud_data.values
x = array[:, 0:5]
y= array[:,5:]

In [12]:
x

array([[0, 2, 50047, 10, 1],
       [1, 0, 134075, 18, 1],
       [0, 1, 160205, 30, 1],
       ...,
       [0, 0, 154058, 0, 1],
       [1, 1, 180083, 17, 0],
       [0, 0, 158137, 16, 0]], dtype=object)

In [13]:
y

array([['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Risky'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good']], dtype=object)

In [14]:
num_trees = 100
max_features = 4
kfold = KFold(n_splits=10, random_state=None)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, x,y.ravel(), cv=kfold)         # .ravel will convert array shape to (n, ) i.e 1d array
print("The Accuracy is :", results.mean())

The Accuracy is : 0.7383333333333333

#### The Accuracy is 74%